{% import 'macros/form.html' as form %}

{% block package_metadata_fields %}

  {% block package_metadata_fields_url %}
    {{ form.input('url', label=_('URL'), id='field-url', placeholder=_('http://example.com/dataset.json'), value=data.url, error=errors.url, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_fields_version %}
    {{ form.input('version', label=_('Version'), id='field-version', placeholder=_('1.0'), value=data.version, error=errors.version, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_author %}
    {{ form.input('author', label=_('Creator'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium']) }}

    {{ form.input('author_email', label=_('Creator Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_fields_maintainer %}
    {{ form.input('maintainer', label=_('Publisher'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

    {{ form.input('maintainer_email', label=_('Publisher Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
  {% endblock %}

  {% block dataset_fields %}
	{{ form.input('number_of_participants', label=_('Number of participants'), id='number_of_participants', placeholder=_('0'), value=data.number_of_participants, error=errors.number_of_participants, classes=['control-medium']) }}

	{{ form.input('number_of_records', label=_('Number of Records'), id='number_of_records', placeholder=_('0'), value=data.number_of_records, error=errors.number_of_records, classes=['control-medium']) }}

	{{ form.input('human_research', label=_('Human Research'), id='human_research', placeholder=_('Yes/No'), value=data.human_research, error=errors.human_research, classes=['control-medium']) }}

	{{ form.markdown('spatial_coverage', label=_('Spatial Coverage'), id='spatial_coverage', placeholder=_(''), value=data.spatial_coverage, error=errors.spatial_coverage) }}

	{{ form.input('language', label=_('Language'), id='language', placeholder=_('Language'), value=data.language, error=errors.language, classes=['control-medium']) }}

	<fieldset>
	<legend><h3>Temporal Coverage</h3>
	{{ form.input('tc_start', label=_('Start Date'), id='tc_start', placeholder=_('Start Date'), value=data.tc_start, error=errors.tc_start, classes=['control-medium']) }}
	{{ form.input('tc_end', label=_('End Date'), id='tc_end', placeholder=_('End Date'), value=data.tc_end, error=errors.tc_end, classes=['control-medium']) }}		
	</fieldset>
	
  {{ form.input('logo', label=_('Logo'), id='logo', placeholder=_('Logo URL'), value=data.logo, error=errors.logo, classes=['control-medium']) }}

  {% endblock %}

  {% block package_metadata_fields_custom %}
    {% block custom_fields %}
      {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
    {% endblock %}
  {% endblock %}

{% endblock %}
